#content-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #1e1e1e;
  color: white;
}

#overlay-controls {
  background-color: #090909;
  height: 60px;
}

a {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin-left: 12px;
}

mat-icon {
  font-size: 36px;
}

#content {
  padding: 0 12px 12px 12px;
  height: 100%;
}

.portrait {
  position: absolute;
}

.portrait-text {
  width: 100%;
  position: relative;
}


